.container {
  background-color: #1b1a1a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.05);
}

.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userName {
  font-size: 20px;
  font-weight: 600;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  border-radius: 50%;
}

.containerFollow {
  display: flex;
  align-items: center;
  gap: 50px;
}

.follow {
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.containerTime {
  background-color: #ff8a62;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.followButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.followButton:hover {
  transform: scaleX(1.5);
  transform: scaleY(1.2);
  transition: 0.3s;
}

.followText {
  margin-left: 4px;
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 100%;
    gap: 20px;
  }
  
  .containerFollow {
    gap: 40px;
  }

  .follow {
    text-align: center;
  }

  .containerTime {
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-width: 500px) {
  .follow {
    text-align: center;
    font-size: 12px;
  }
  
  .userName {
    font-size: 15px;
  }

  .containerTime {
    width: 80px;
    height: 80px;
  }
}