.title {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 800;
}

.pageContainer {
  background-color: #201f23;
  display: flex;
  gap: 15px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 100vh;
  max-width: 800px;
  border-radius: 10px;
}

.pageSeparator {
  display: flex;
  gap: 15px;
}